// colors
$colorWhite: #fff;
$colorBlack: #000;
$colorBackground: #e6e6e6;
$colorItemBackground: #ccc;

// fonts
$font-color-white: #fff;


//screen sizes
$mobile: 660px;
$tablet: 768px;
$laptop: 960px;
$desktop: 1280px;