@import "../../styles/varibales.scss";

body {
    background-color: $colorBackground;
}

.page-container {
    padding: 20px;

    @media screen and (max-width: $laptop) {
        padding: 40px;
    }

    .content {
        display: flex;

        @media screen and (max-width: $laptop) {
            flex-direction: column;
        }
    }

}


.btn {
    padding: 2px 25px;
    background-color: $colorBlack;
    color: $colorWhite;
    border: none;
    user-select: none;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &:active {
        box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);

    }
}